[Desktop Entry]
Version=1.0
Name=Angry Birds
Name[zh]=愤怒的小鸟
Comment=
Comment[zh]=Angry Birds
Type=Link
URL=http://chrome.angrybirds.com
Icon=angrybirds
