[Desktop Entry]
Version=1.0
Name=Clima
Comment=
Type=Link
URL=http://www.climatempo.com.br/previsao-do-tempo/cidade/321/riodejaneiro-rj
Icon=climatempo
