[Desktop Entry]
Version=1.0
Name=Code Academy
Name[pt]=Academia Code
Name[es]=Academia Code
Comment=
Type=Link
URL=http://www.codeacademy.com
Icon=codeacademy
