[Desktop Entry]
Version=1.0
Name=Translate
Name[zh]=翻译
Name[pt]=Tradutor
Name[es]=Traductor
Comment=Google Translate
Type=Link
URL=http://translate.google.com
Icon=googletranslate
