[Desktop Entry]
Version=1.0
Name=Online Music
Name[zh]=在线音乐
Name[pt]=Música Online
Name[es]=Música Virtual
Comment=Grooveshark
Type=Link
URL=http://grooveshark.com
Icon=grooveshark
