[Desktop Entry]
Version=1.0
Name=Khan Academy
Name[pt]=Academia Khan
Name[es]=Academia Khan
Comment=
Type=Link
URL=http://www.khanacademy.org
Icon=khanacademy
