[Desktop Entry]
Version=1.0
Name=TED Talks
Name[zh]=TED
Name[pt]=Palestras
Name[es]=Discusiones
Comment=
Comment[pt]=TED
Comment[es]=TED
Type=Link
URL=http://www.ted.com/translate/languages/zh
Icon=ted
