[Desktop Entry]
Version=1.0
Name=Telefones Uteis
Comment=
Type=Link
URL=http://www.telelistas.net/templates/telefones_uteis_int.aspx?state=rj&idprnt=64
Icon=telefones-uteis
