[Desktop Entry]
Version=1.0
Name=Learn to Type
Name[zh]=学习型
Name[pt]=Tecla Fácil
Name[es]=Teclado Fácil
Comment=
Type=Link
URL=http://10fastfingers.com/typing-test/portuguese
Icon=typing
