[Desktop Entry]
Version=1.0
Name=Campanha Contra Drogas UN
Comment=
Type=Link
URL=http://www.unodc.org/southerncone/pt/drogas/campanhas.html
Icon=unodc
