[Desktop Entry]
Version=1.0
Name=UPAs Rio
Comment=
Type=Link
URL=http://www.saude.rj.gov.br/upas-24-horas/5629-upa-24h-rio-de-janeiro.html
Icon=upa24h
