[Desktop Entry]
Version=1.0
Name=World Wonders
Name[pt]=Maravilhas
Name[es]=Maravillas
Comment=World Wonders Project
Type=Link
URL=http://www.google.com/intl/es-419/culturalinstitute/worldwonders/
Icon=worldwondersproject
