[Desktop Entry]
Version=1.0
Name=Armagetron
Name[pt]=Armagetron
Name[es]=Armagetron
Comment=3d light cycle game
Type=Application
Exec=armagetronad
Icon=armagetron-adv
Categories=Games;
