[Desktop Entry]
Version=1.0
Name=Audio Editor
Name[pt]=Edita Som
Name[es]=Señor DJ
Comment=Audacity
Type=Application
Exec=audacity
Icon=audacity
Categories=Audio;
