[Desktop Entry]
Version=1.0
Name=Billiards
Name[pt]=Sinuca
Name[es]=Billar
Comment=BillardGL
Type=Application
Exec=billard-gl
Icon=billardgl
Categories=Games;
