[Desktop Entry]
Version=1.0
Name=BlockOut 2
Name[pt]=BlockOut 2
Name[es]=BlockOut 2
Comment=3D Tetris-style game
Type=Application
Exec=blockout2
Icon=blockout2
Categories=Games;
