[Desktop Entry]
Version=1.0
Name=Calculator
Name[pt]=Calculadora
Name[es]=Calculadora
Comment=Calculator
Type=Application
Exec=qalculate-gtk
Icon=calculator
Categories=Utility;Calculator;
