[Desktop Entry]
Version=1.0
Name=Math
Name[pt]=Matemática
Name[es]=Matemáticas
Comment=Genius Math
Type=Application
Exec=gnome-genius
Icon=geniusmath
Categories=Utility;Calculator;
