[Desktop Entry]
Version=1.0
Name=Kobo Deluxe
Name[pt]=Kobo Deluxe
Name[es]=Kobo Deluxe
Comment=Destroy enemy bases in space
Type=Application
Exec=kobodl
Icon=kobodeluxe
Categories=Games;
