[Desktop Entry]
Version=1.0
Name=Breakout
Name[pt]=Fuga
Name[es]=El Escape
Comment=LBreakout2 game
Type=Application
Exec=lbreakout2
Icon=lbreakout
Categories=Games;
