[Desktop Entry]
Version=1.0
Name=Files
Name[pt]=Documentos
Name[es]=Documentos
Comment=File Manager
Type=Application
Exec=nautilus
Icon=file-manager
Categories=FileManager;Utilify;Core;GTK;
