[Desktop Entry]
Version=1.0
Name=Photo Editor
Name[zh]=照片编辑器
Name[pt]=Editor de Fotos
Name[es]=Editor de Fotos
Comment=Endless Photo App
Type=Application
Exec=endless-os-photos %f
Icon=photo
Categories=Photos;
