[Desktop Entry]
Version=1.0
Name=Media Download
Name[pt]=Baixar Mídia
Name[es]=Descargar
Comment=qBittorrent
Type=Application
Exec=qbittorrent %U
Icon=qbittorrent
Categories=Network;
