[Desktop Entry]
Version=1.0
Name=Stellarium
Name[pt]=Constelação
Name[es]=Constelaciones
Comment=Stellarium
Type=Application
Exec=stellarium
Icon=stellarium
Categories=Astronomy;Education;Science;
