[Desktop Entry]
Version=1.0
Name=Teeworlds
Name[pt]=Teelândia
Name[es]=Teelandia
Comment=Multiplayer game
Type=Application
Exec=teeworlds
Icon=teelandia
Categories=Games;
