[Desktop Entry]
Version=1.0
Name=Tux Math
Name[pt]=123 Tux
Name[es]=123 Tux
Comment=Math Games
Type=Application
Exec=tuxmath
Icon=123tux
Categories=Games;Education;
