[Desktop Entry]
Version=1.0
Name=Tux Typing
Name[pt]=Tecla Tux
Name[es]=Tecla Tux
Comment=Typing game
Type=Application
Exec=tuxtype
Icon=tuxtyping
Categories=Games;
