[Desktop Entry]
Version=1.0
Name=YouTube
Name[pt]=YouTube
Name[es]=YouTube
Comment=YouTube
Type=Application
Exec=endless-os-youtube
Icon=youtube-app
Categories=Media;
